* {
	font-family: 'Montagu Slab', serif;

}

h1,h2,h3,h4{
	font-family: 'Playfair Display', serif;
}

html {
	scroll-behavior: smooth;
}


#banner {

	background-image: url(https://images.pexels.com/photos/593158/pexels-photo-593158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	
	background-size: cover;
	
	background-repeat: no-repeat;

	background-position: center;

}

#banner2 {
	background-image: url(https://images.pexels.com/photos/3334452/pexels-photo-3334452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	
	background-size: cover;
	
	background-repeat: no-repeat;

	background-position: center;

}


#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.fab {
	font-size: 3rem;
	color: #495057;
}

#t1 {
	color: #e9ecef;
}

#picture {
	height: 30vh;
	object-fit: cover;}
}
