* {
	font-family: 'Montagu Slab', serif;

}

html {
	scroll-behavior: smooth;
}


#banner {

	background-image: url(https://images.pexels.com/photos/450055/pexels-photo-450055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	
	background-size: cover;
	
	background-repeat: no-repeat;

	background-position: center;

}

#banner2 {
	background-image: url(https://images.unsplash.com/photo-1621619856624-42fd193a0661?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1458&q=80);
	
	background-size: cover;
	
	background-repeat: no-repeat;

	background-position: center;

}


#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.fab {
	font-size: 3rem;
	color: #495057;
}

#t1 {
	color: #e9ecef;
}

#picture {
	height: 30vh;
	object-fit: cover;}
}
